<!DOCTYPE html>
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">

</head>
{% load staticfiles %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-6">
              <div class="row" style="margin-top:15px;">
                  {% if errors %}
                    {% for error in errors %}
                    <div class="alert alert-warning"><button class="close" data-dismiss="alert"><span>&times;</span></button>{{ error }}</div>
                    {% endfor %}

                    {% endif %}
              </div>

            <h3 class="titulo">Registrate</h3>
              <form action="" class="" method="post">
                {% csrf_token %}
                <fieldset class="fieldset">
                  <div class="form-group bg-info">
                    <a href="ingresar.html">Ya tengo una cuenta</a>
                  </div>
                  <div class="form-group">
                  <label for="Nombre">Nombre:<em>(*)</em></label>
                  <input type="text" class="form-control" placeholder="Eje:Jose Manuel" title="Por Favor ingrese su nombre completo" required name="nombre" />
                  </div>

                  <div class="form-group">
                    <label for="Apellido">Apellido:<em>(*)</em></label>
                    <input type="text" class="form-control" placeholder="Eje:Rodrigues Hurtado" title="Por Favor ingrese su apellido completo" required name="apellido" />
                  </div>
                  <div class="form-group">
                    <label for="Email">Email:<em>(*)</em></label>
                    <input type="text" class="form-control" placeholder="Eje:jose@gmail.com" title="Por Favor ingrese su email" required name="email" />
                  </div>
                  <div class="form-group">
                    <label for="Usuario">Usuario:<em>(*)</em></label>
                    <input type="text" class="form-control" placeholder="Eje:josehurtado" title="Por Favor ingrese su usuario" required name="usuario" />
                  </div>
                  <div class="form-group">
                    <label for="Contraseña">Contrase&ntilde;a:<em>(*)</em></label>
                    <input type="password" class="form-control" placeholder="Eje:1234" title="Por Favor ingrese su contrase&ntilde;a" required name="password" />
                  </div>
                  <div class="form-group">
                    <label for="Contraseña">Repetir Contrase&ntilde;a:<em>(*)</em></label>
                    <input type="password" class="form-control" placeholder="Eje:1234" title="Por Favor repita su contrase&ntilde;a" required name="reppassword" />
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="terminos">Estoy de Acuerdo con los Terminos
                    </label>
                  </div>


                  <input type="submit" class="btn btn-primary btn-lg pull-right" name="boton" value="Registrarse">
                </fieldset>
              </form>
          </div>
          <div class="col-md-6 text-center hidden-xs hidden-sm">
            <img src="{% static 'img/slide1.jpg' %}" width="450px" style="margin-top:30px;">
          </div>
        </div>

      </div>
    </div>
{% endblock %}