<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
{% load staticfiles %}
<body>
    <div class="col-md-2">
        <div class="hidden-xs hidden-sm">
            <h4 class="titulomenu">Consultorio</h4>
            <img src="{% static 'img/maleta.png' %}" alt="">
        </div>
        <h4 class="titulomenu">Menu</h4>

        <div class="menu">

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>


    </div>
</body>
</html>