<!DOCTYPE html>
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">

</head>
{% load staticfiles %}
{% block content %}
<div class="container">

    <div class="col-md-2">
        <div class="hidden-xs hidden-sm">
            <h4 class="titulomenu">Consultorio</h4>
            <img src="{% static 'img/maleta.png' %}" alt="">
        </div>
        <h4 class="titulomenu">Menu</h4>

        <div class="menu">

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>


    </div>
    <div class="col-md-10">
        {% if formulario.errors %}
            <div class="alert alert-warning">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                Por Favor Corrija estos errores

            </div>
        {% endif %}
        <ol class="breadcrumb" style="margin-top:15px;">
            <li><a href="/">Home</a></li>
            <li><a href="/backend">Backend</a></li>
            <li>Perfil de Usuario</li>

        </ol>
        <form action="" class="form-inline" method="post">

            <fieldset class="fieldset">
                <legend>Datos</legend>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Usuario">Cedula:</label>
                        {{formulario.cedula}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Usuario">Edad:</label>
                       {{formulario.edad}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Usuario">Sexo:</label>
                       {{formulario.sexo}}
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Sexo">Imagen:</label>
                        {{formulario.imagen}}
                    </div>

                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-10 botones">
                        <button class="btn btn-primary pull-right" type="submit"><span
                                class="glyphicon glyphicon-ok"></span> Guardar
                        </button>


                    </div>

                </div>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}